# Ignore everything in the root directory
*

# directories to whitelist
!/ejbca_client/

# and files
!ejbca_client/*.py
!/*.py
!/*.json
!/*.md
!/*.toml
!/.gitignore
!/portal*.pem
!/server*.pem
